.panel{
  position: absolute;
  width: 1000px;	
  height: 530px;
  border: 2px solid #737373;
  background-color:white;
}
#pnlMain {
  top: 10px;
  left: 10px;
}
#pnlAvail {
  top: 10px;
  left: 1050px;
}

.hdr{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:30px;
	border: 2px solid #737373;
}

.lwrcnvs{
	position:absolute;
	top:40px;
	left:0px;
}

.upprcnvs{
	position:absolute;
	top:40px;
	left:0px;
}

.buttonClass {
  display: inline-block;
  font-size:15px;
  font-family:Arial;
  text-align: center;
  margin-left:5px;
  margin-right:5px;
  padding:5px;
  width:81px;
  height:15px;
  border-width:1px;
  color:rgba(32, 34, 34, 1);
  border-color:#d6bcd6;
  font-weight:bold;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  box-shadow: 3px 4px 0px 0px #899599;
  text-shadow: 0px 1px 0px #e1e2ed;
  background:linear-gradient(#ededed, #bab1ba);
}
.buttonClass:hover {
  font-size:16px;
  background: #cacaca;
}
